.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 47px;
}

@media screen and (max-width:750px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width:500px) {
  .profile {
    padding-bottom: 36px;
  }
}
