.popup__item-profile {
  border: 0;
  width: 100%;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid  rgba(0, 0, 0, .2);
  margin: 30px auto 0;
  padding: 0 0 7px;
  color: black;
}
